# MongoDB Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0...
MONGODB_DB=yourDB

# JSON Web Token Secret (used for signing and verifying cookies)
JWT_SECRET=super-secret-key-replace-me

# TMDb (The Movie Database) API Key
TMDB_API_KEY=your_tmdb_api_key_here
